.my-shows {
	min-height: 100vh;
	margin-top: 47px;

	// .shows-title {
	// 	font-size: 28px;
	// 	font-weight: bold;
	// }
}

.swiper-container {
	height: auto;

	// // swiper doesn't show all slides by default
	// .swiper-wrapper {
	// 	width: 100vw !important;

	// adding margin to second row of slides
	.swiper-slide {
		margin-top: 0px !important;
	}
}
// }
// .shows-row {
// 	margin-bottom: 20px;
// }
// .swiper-button-container {
// 	width: 79px;
// 	height: 45px;
// 	background-color: #20212b;
// 	border-radius: 8px;
// 	border: 2px solid #2e303d;
// 	@media (max-width: 575px) {
// 		margin-bottom: 0;
// 	}
// 	.swiper-button-right-wrapper {
// 		padding-right: 1rem;
// 		margin-right: -1rem;
// 	}
// 	.swiper-button-left-wrapper {
// 		padding-left: 1rem;
// 		margin-left: -1rem;
// 	}
// 	.btn-right {
// 		margin-left: 15px;
// 	}
// 	.btn-left {
// 		margin-right: 15px;
// 		position: relative;
// 		&::after {
// 			content: "";
// 			height: 18px;
// 			border-right: 1px solid #2e303d;
// 			position: absolute;
// 			left: 0;
// 			top: calc((100%/2) - 9px);
// 			right: -16.5px;
// 		}
// 	}
// 	.swiper-button-disabled {
// 		.swiper-arrow-next {
// 			content: url("../../images/icons/swiper-next--disabled.svg");
// 		}
// 		.swiper-arrow-prev {
// 			content: url("../../images/icons/spwiper-prev--disabled.svg");
// 		}
// 	}
// }
