<div class="my-shows max-width-wrapper mx-auto">
	<div class="section-heading">
		<h4 class="section-title">My Shows</h4>
	</div>




	<div class="swiper">
		<div class="swiper-container mx-0">
			<swiper [config]="config" class="h-100">
				<div class="swiper-wrapper">
					<div class="swiper-slide" *ngFor="let event of events">
						<div class="hover-wrapper">
							<div class="image-wrapper">
								<img [src]="event?.event?.background_image?.url" alt="image" class="artist-img" routerLink="/">
								<!-- <div class="btn-wrapper d-flex flex-column justify-content-center align-items-center">
                            <button type="button" class="btn slide-btn btn-sos-main">Get Tickets</button>
                            <button type="button" class="btn slide-btn btn-sos-secondary">Preview</button>
                        </div> -->
							</div>
							<div class="card-details">
								<div class="event alt-color">{{ event.event.name }}</div>
								<div class="artist">Artist Name</div>
							</div>
						</div>
					</div>
				</div>
			</swiper>
		</div>
	</div>




</div>